.DS_Store
.directory
.fuse_hidden
.fuse_hidden*
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
.npm-debug.log
.npm-debug*
bin/*
*.o
*.pyc
*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.svg
*.ico
Thumbs.db
*.ttf
*.otf
*.eot
*.woff
*.zip
*.autosave

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*